[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
tqdm = "*"
jinja2 = "*"
imblearn = "*"
lime = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
